*.pyc
.idea
*.iml
build
dist
*.egg-info
dynamips_*
ilt_*
*_rom
*_rommon_vars
*_slot*
*_ssa
*_lock
*_log.txt
*.ghost
*.swp
*.toc
*.snm
*.out
*.nav
lab_comment.pdf
*.log
*.fls
*fdb_latexmk
*.aux
*.egg
.cache
.eggs
tags
